{% extends 'base.html' %}


{% block content %}



<main class="container py-5">


    <section class="card card-body">

        <h1 class="display-2 text-center">principal de django app</h1>
        <p>BIENVENIDOS</p>
    
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam mollitia fugit laborum, eius comm
            odi maxime, quidem cupiditate autem reiciendis beatae voluptas soluta quod voluptates sit? Dolor
            em qui necessitatibus deleniti beatae!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium deserunt recusandae sequi omni
            s corrupti voluptatum eaque facilis officiis ullam nostrum illo, error at libero vero non tenetur esse maxime dolor!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate optio consectetur labore magni ape
            riam distinctio perspiciatis, repellat facere deserunt laudantium quo atque, nemo ea voluptatibus ipsum molestias, assumenda aut veritatis?
        </p>




        <div class="text-center">

            <a class="btn btn-secondary" href="/signin/">
            
            Signin
            
            </a>
            
            <a class="btn btn-primary" href="/signup/"> Signup
            
            </a>
            
        </div>
    





    
    
    </main>

</section>



{% endblock %}